@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap"); /* 영문 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"); /* 기본 폰트 */

html,
/* body {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  color: #333;
  background: #fff;
} */

body {
  font-size: 1.6rem;
  color: #333;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a {
  outline: 0;
  text-decoration: none;
  color: #333;
}

img {
  border: 0;
}

button {
  padding: 0;
  border: none;
  background: none;
}

button:hover {
  cursor: pointer;
}

/* 공통 클래스 */

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.container {
  width: 80%;
}

.black-layer {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.display-none {
  display: none !important;
}
