
.thank-page{
    text-align: center;
    align-items: center;
    display: inline-block;
    margin: 0 auto;
  }
  
  .english{
    color: rgb(48,156,228);
    font-size: 80px;
    font-weight: bold;
  }
  
  .word{
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .the-end{
    color: rgb(48,156,228);
    font-size: 16px;
  }
#content{
  display:flex;
  align-items:center;
  justify-content:center;
  min-height:100vh;
}
